*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: alumnisans;
    src: url(font/AlumniSans-Regular.ttf);
    src: url(font/AlumniSans-SemiBoldItalic.ttf);
    font-family: alumni-bold;
}
body{
    font-family: alumni-bold;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    font-size: 22px;
    text-decoration: none;
    color: #333;
}
.tabs{
    display: inline-block;
    background: rgb(47, 245, 225);
    color: #222;
    padding:  6px 15px;
    margin: 0px;
    border-radius: 5px;
    transition: background 0.5s;
}
.tabs:hover{
    background: #17806e;
}
p{
    color: #222;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
} 
.col-2 h1{
    font-size: 70px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2{
    font-size: 25px;
}
.btn{
    display: inline-block;
    background: rgb(47, 245, 225);
    color: #000;
    padding:  8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #17806e;
}
.header{
    background: radial-gradient( rgb(204, 203, 203), rgb(34, 32, 32));
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-right: 10px;
}
.col-3 img{
    width: 100%;
    height: 300px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    height: 300px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    font-size: 22px;
    color: #555;
    font-weight: 500;
}
.col-4  p{
    font-size: 22px;
}
.rating i{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*------ offer ------*/

.offer{
    background: radial-gradient(rgb(204, 203, 203), rgb(34, 32, 32));
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
/*------ testimonial -------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.quote{
    font-size: 70px;
    color: #ff523b;
}
.col-3 p{
    font-size: 22px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 18px;
}
/*-----brands--------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 130px;
}
.col-5 img{
    width: 100%;
    height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*--------brands------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    font-size: 18px;
    min-width: 200px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 120px;
    height: 40px;
}
.footer hr{
    border: none;
    background: #727171;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    font-size: 20px;
    text-align: center;
}
.menu-icon{
    margin-left: 20px;
    display: none;
}
/*------ media query for menu -----*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 130px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .tabs{
        background: #333;
        color: #fff;
        padding:  6px 15px;
        margin: 0px;
    }
    .tabs:hover{
        background: #333;
    }
}
/*------- media query for less than 600 screen size------*/
@media only screen and (max-width: 600px){
    nav ul{
        position: absolute;
        top: 120px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4 ,.footer-col-2, .footer-col-3, .footer-col-4{
        flex-basis: 100%;
    }
    .col-2 img, .col-3 img, .col-4 img{
        width: 100%;
        height: 400px;
    }
    .col-5{
        width: 90px;
    }
    .col-5 img{
        width: 100%;
        height: 30px;
    }
}